.container {
  text-align: center;
  align-items: center;
  justify-content: center;
}
form {
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: grid;
}
input {
  border-radius: 20px;
  outline: none;
  padding: 10px;
  transition: all 0.5s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
  border: 1.5px solid aqua;
}

input:focus {
  border: 1.5px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
}

button {
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  background-color: aquamarine;
}
